<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rewriteMaps>
				<rewriteMap name="StaticRedirects">
					<!-- 301 REDIRECTS GO HERE -->
					<add key="/about-us" value="/why-us/" />
					<add key="/about-us/" value="/why-us/" />
				</rewriteMap>
            </rewriteMaps>
            <rules>
				<!-- This handles domains without the www -->
				<!-- ensure example.com is changed to your domain -->
				<rule name="redirect to www" stopProcessing="true"> 
				<match url=".*" /> 
					<conditions> 
						<add input="{HTTP_HOST}" pattern="^adelaidehomeloans.com.au$" /> 
					</conditions> 
					<action type="Redirect" url="http://www.adelaidehomeloans.com.au/{R:0}" redirectType="Permanent" /> 
				</rule>
				<!-- This handles the 301 redirects -->
				<rule name="RedirectRule" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
					</conditions>
					<action type="Redirect" url="{C:1}" appendQueryString="False" redirectType="Permanent" />
				</rule>
				<!-- This handles the friendly URLs -->
                <rule name="FriendlyUrlRule" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
                        <add input="{R:1}" negate="true" pattern="\.(gif|jpe?g|png)$" />
                    </conditions>
                    <action type="Rewrite" url="/index.php?{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
		<defaultDocument enabled="true">
            <files>
                <clear />
				<add value="default.html" />
                <add value="index.php" />
                <add value="index.html" />
                <add value="awstats.pl" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
